<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.argumentor">

    <application
        android:name=".models.ArgumentorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Argumentor"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <!-- Register activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"></activity> <!-- Login activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Formulario activity -->
        <activity
            android:name=".FormularioActivity"
            android:exported="false"></activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false"/>
        <activity
            android:name=".DebateBoardActivity"
            android:exported="false"/>
    </application>

</manifest>